<template>
    <div class="w-full h-96 bg-color-footer relative">
        <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <img src="/logo.png" alt="Pola-Rem" class="h-24 sm:h-36 relative left-1 mb-4">
            <p class="text-white text-xs sm:text-sm">@ Copyright 2021 Pola-Rem. <br> Wszelkie prawa zastrzeżone.</p>
        </div>
        
        <p class="text-white text-sm underline absolute left-1/2 bottom-4 transform -translate-x-1/2"><a href="https://makoto.pl" target="_blank" >Design & development by Makoto. </a></p>
    </div>
</template>

<style lang="scss">
    .bg-color-footer{
        background-color: #0E1125;
    }
</style>