<template>
    <div>
        <!-- menu -->
        <div id="mobile_menu" class="block md:hidden text-center fixed left-0 z-50 w-screen h-screen bg-white duration-500 hide_menu">

            <button v-on:click="close_menu" class="w-20 h-20 absolute right-8 top-8">
                <span class="material-icons menu-bigger">
                    arrow_forward
                </span>
            </button>


            <div class="my-48 mobile-menu">
                <NuxtLink to="/" v-on:click="close_menu" class="block mx-2 relative text-4xl font-semibold py-8 menu-items">Start</NuxtLink>
                <NuxtLink to="/galeria" v-on:click="close_menu" class="block mx-2 relative text-4xl font-semibold py-8 menu-items">Galeria</NuxtLink>
                <NuxtLink to="/kontakt" v-on:click="close_menu" class="block mx-2 relative text-4xl font-semibold py-8 menu-items">Kontakt</NuxtLink>
            </div>

            <div class="absolute bottom-24 w-screen">
                <a href=""> <span class="material-icons menu-big mx-8">phone</span> </a>
                <a href=""> <span class="material-icons menu-big mx-8">email</span> </a>
                <a href=""> <span class="material-icons menu-big mx-8">facebook</span> </a>
            </div>
        </div>



        <!-- navbar -->
        <div class="z-40 absolute w-full h-24 px-6 md:px-14 backdrop-blur-lg flex items-center justify-center text-white">
            <div class="hidden md:block flex-1 text-left">
                <NuxtLink to="/" class="mx-2 relative menu-items">Start</NuxtLink>
                <NuxtLink to="/galeria" class="mx-2 relative menu-items">Galeria</NuxtLink>
                <NuxtLink to="/kontakt" class="mx-2 relative menu-items">Kontakt</NuxtLink>
            </div>
            <div class="flex-1">
                <a href="/">
                    <img src="/logo.png" alt="Pola-Rem" class="w-16 sm:h-20 sm:w-auto md:mx-auto">
                </a>
            </div>
            <div class="hidden md:block flex-1 text-right">
                <a href=""> <span class="material-icons mx-1">phone</span> </a>
                <a href=""> <span class="material-icons mx-1">email</span> </a>
                <a href=""> <span class="material-icons mx-1">facebook</span> </a>
            </div>

            <div class="flex-1 block md:hidden text-right">
                <button v-on:click="open_menu" class="w-20 h-20">
                    <span class="material-icons menu-bigger pt-4">
                        menu
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.menu-items::after{
    transition: .2s;
    content: "";
    position: absolute;
    width: 5%;
    height: 3px;
    bottom: -1px;
    left: 50%;

}

.hide_menu{
    left: 101%;
}

.menu-items:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.mobile-menu{

    a.nuxt-link-exact-active{
        font-weight: 800;
    }
    a.nuxt-link-exact-active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0px;
    bottom: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
}

}

.menu-big{
    font-size: 48px;
}

.menu-bigger{
    font-size: 78px;
}
</style>

<script>
export default {
    methods: {
        open_menu: () => {
            document.querySelector('#mobile_menu').classList.remove('hide_menu')
        },
        close_menu: () => {
            document.querySelector('#mobile_menu').classList.add('hide_menu')
        }
    },
    watch: {
        '$route' () {
            document.querySelector('#mobile_menu').classList.add('hide_menu')
        }
    }
}
</script>