<template>
  <div class="overflow-x-hidden cursor-default">

    <div lazy-background='~/static/bg.webp' class="landing w-full height-landing content-center relative ">
      <h1 class="absolute left-1/2 top-1/2 text-4xl sm:text-8xl font-bold text-white transform -translate-x-1/2 -translate-y-1/2">Galeria</h1>
    </div>

    <div class="container mx-auto">
      <div class="py-40 text-left">
        <h2 class="text-4xl pl-8 mb-14 font-semibold">Galeria zdjęć</h2>

        <div class="w-full justify-items-center">
          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

          <div class="lg:inline-block w-64 sm:w-96 h-56 mx-auto lg:mx-12 my-6 bg-gray-600">
          </div>

        </div>
      </div>

      
    </div>
    

  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
  .height-landing{
    height: 70vh;
  }
  .landing{
    background-attachment: fixed;
    background-size: cover;
  }


</style>
