<template>
  <div class="overflow-x-hidden cursor-default">

    <div lazy-background='~/static/bg.webp' class="landing w-full h-screen content-center relative">
      <h1 class="absolute left-1/2 top-1/2 text-4xl md:text-6xl lg:text-8xl font-bold text-white uppercase transform -translate-x-1/2 -translate-y-1/2">Pola-Rem</h1>
      
      <div class="absolute left-1/2 bottom-5 transform -translate-x-1/2">
        <span class="arrow material-icons text-white animate-bounce">
          expand_more
        </span>
      </div>

    </div>

    <div class="lg:flex w-full pt-24 pb-18 sm:pt-40 sm:pb-18 justify-center">
      <div class="hidden lg:block lg:w-1/3">
        <img src="/build-plan.jpg" alt="" class="w-80 m-auto lg:ml-auto lg:mr-24" v-lazy-load >
      </div>
      <div class="lg:w-1/3">
        <div class="lg:mr-auto mx-14 lg:w-96"> 
          <h1 class=" mb-8 mt-12 text-4xl font-bold">O mnie</h1>
          <p class=" text-gray-700">
            Specjalizuje się w wykończeniach wnętrz. Działalność prowadzę od [np. 7] lat.
            Dzięki mojemu doświadczeniu oraz niezbędnej wiedzy inżynieryjnej i techniki świadczę usługi na najwyższym poziomie.
            Wszelkie prace realizowane są z zastosowaniem najnowszych technologii oraz najlepszej jakości materiałów firm które, są cenione na polskim rynku.
            Ofertę świadczonych usług kieruję dla osób prywatnych oraz inwestorów indywidualnych.
          </p>
        </div>
      </div>

      <div class="lg:hidden">
        <img src="/build-plan.jpg" alt="" class="w-80 m-auto mt-12" v-lazy-load >
      </div>

    </div>

    <div class="lg:flex w-full py-24 sm:pb-40 sm:pt-18 justify-center">

      <div class="lg:w-1/3">
      <div class="lg:ml-auto mx-14 lg:mr-14 lg:w-96">
        <h1 class=" mb-8 mt-8 sm:mt-24 text-4xl font-bold">Oferta</h1>
        <p>
          Oferta wykonywanych prac obejmuje:
        </p>
        <br>
        <ul class="list-inside list-disc text-gray-700">
          <li>wykończenia „pod klucz”,</li>
          <li>remonty mieszkań,</li>
          <li>adaptację poddaszy,</li>
          <li>suchą zabudowę karton-gips,</li>
          <li>szpachlowanie, malowanie i inne prace wykończeniowe,</li>
          <li>zakładanie paneli podłogowych,</li>
          <li>wykonanie prac glazurniczych.</li>
        </ul>
        
      </div>
      </div>
      <div class=" lg:w-1/3">
        <img src="/painter.jpg" alt="" class="w-80 m-auto mt-16 lg:mr-auto lg:ml-24" v-lazy-load>
      </div>
    </div>


  </div>
</template>

<script>

export default {
}
</script>

<style lang="scss">
  .landing{
    background-attachment: fixed;
    background: linear-gradient( rgba(46, 46, 46, 0.7), rgba(46, 46, 46, 0.7));
    background-size: cover;

    .arrow{
      font-size: 64px;
    }
  }


</style>
