<template>
  <div class="overflow-x-hidden cursor-default">

    <div lazy-background='~/static/bg.webp' class="landing w-full height-landing content-center relative">
      <h1 class="absolute left-1/2 top-1/2 text-4xl sm:text-8xl font-bold text-white transform -translate-x-1/2 -translate-y-1/2">Kontakt</h1>
    </div>

    <div class="container mx-auto">
      <img src="/wizytowka.jpg" alt="" class="w-96 md:h-96 md:w-auto mx-auto relative -top-12 rounded-2xl filter drop-shadow-2xl v-lazy-load">
      <div class="py-36 text-center">

        <a href="">
          <span class="material-icons bigger">
            email
          </span><br>
          <a href="#" class="font-bold text-base sm:text-lg">pola-rem@wp.pl</a>
        </a>
        
        <div class="flex justify-center my-8">

          <div class="mx-4 sm:mx-16">
            <a href="">
              <span class="material-icons bigger">
                facebook
              </span> <br>
              <p class="font-bold text-base sm:text-lg">Pola-Rem</p>
            </a>
          </div>

          <div class="mx-4 sm:mx-16">
            <a href="">
              <span class="material-icons bigger">
                phone_in_talk
              </span> <br>
              <p class="font-bold text-base sm:text-lg">781 953 979</p>
            </a>
          </div>

        </div>
      </div>
    </div>


  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
  .height-landing{
    height: 70vh;
  }
  .landing{
    background-attachment: fixed;
    background-size: cover;
  }

  .bigger{
    font-size: 48px;
    color: #3F3F5F;
  }
</style>
