<template>
  <div class="overflow-x-hidden cursor-default">

    <div lazy-background='~/static/bg.webp' class="landing w-full height-landing content-center relative">
      <h1 class="absolute left-1/2 top-1/2 text-4xl sm:text-8xl font-bold text-white transform -translate-x-1/2 -translate-y-1/2">Logo</h1>
    </div>

    <div class="container mx-auto pt-14 py-36">
        <p class="mb-16 pl-12">Naciśnij na obraz aby pobrać wybraną wersję logo/wizytówki (PDF)</p>

        <h2 class="text-4xl pl-8 mb-4 font-semibold">Logotyp - Pola-Rem</h2>
        <p class="pl-8 mb-14">Loga są zapisane w CMYK (monitor może źle oddawać kolory)</p>

        <div class="w-full py-24">
            
            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo - oryg.pdf" target="_blank" download>
                    <img src="/logo/logo-oryg.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Logotyp - kolorystyka oryginalna</p>
                </a>
            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo - alt.pdf" target="_blank" download>
                    <img src="/logo/logo-alt.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Logotyp - kolorystyka alternatywna</p>
                </a>
            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo - mono.pdf" target="_blank" download>
                    <img src="/logo/logo-mono.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Logotyp - kolorystyka monochromatyczna</p>
                </a>
            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo - black.pdf" target="_blank" download>
                    <img src="/logo/logo-black.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Logotyp - kolorystyka czarna</p>
                </a>

            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo - white.pdf" target="_blank" download>
                    <img src="/logo/logo-whi.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Logotyp - kolorystyka biała</p>
                </a>
            </div>
            
        </div>

        <h2 class="text-4xl pl-8 mt-24 mb-4 font-semibold">Wizytówka - Pola-Rem</h2>
        <p class="pl-8 mb-14">Wizytówka zapisana jest w CMYK (monitor może źle oddawać kolory)</p>

        <div class="w-full py-24">
            
            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/wizytówka - przod.pdf" target="_blank" download>
                    <img src="/logo/wizyt-przod.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Wizytówka - przód</p>
                </a>
            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/wizytówka - tyl.pdf" target="_blank" download>
                    <img src="/logo/wizyt-tyl.jpg" alt="" class="w-96"  v-lazy-load>
                    <p class="font-semibold">Wizytówka - tył</p>
                </a>
            </div>

        </div>


        <h2 class="text-4xl pl-8 mt-24 mb-4 font-semibold">Pliki źródłowe</h2>

        <div class="w-full py-24"> 
            
            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/logo.ai" target="_blank" download>
                    <img src="/ai.png" alt="" class="w-72"  v-lazy-load>
                    <p class="font-semibold">Logo - Plik źródłowy do edycji</p>
                </a>
            </div>

            <div class="lg:inline-block mx-12 my-4">
                <a href="/logo/wizytówka.ai" target="_blank" download>
                    <img src="/ai.png" alt="" class="w-72"  v-lazy-load>
                    <p class="font-semibold">Wizytówka - Plik źródłowy do edycji</p>
                </a>
            </div>

        </div>
    </div>


  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
    .height-landing{
        height: 70vh;
    }
    .landing{
        background-attachment: fixed;
        background-size: cover;
    }

    .bigger{
        font-size: 48px;
        color: #3F3F5F;
    }
</style>
